.DS_Store
node_modules
# web-app build output
/dist
# Electron-builder output
/dist_electron

# planning repository gitignore and local env files
/planning/.gitignore
/planning/.env.local
/planning/.env.*.local

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/